* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #808080;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  width: 300px;
  background-color: #333;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.display {
  grid-column: span 4;
  background-color: #ccc;
  color: black;
  border: none;
  padding: 10px;
  text-align: right;
  font-size: 1.5em;
  border-radius: 10px;
}

.buttons {
  display: contents;
}

.buttons button {
  background-color: #555;
  color: white;
  border: none;
  padding: 20px;
  font-size: 1.2em;
  border-radius: 10px;
  cursor: pointer;
}

.buttons button:active {
  background-color: #777;
}

.buttons button.del {
  background-color: #8b0000;
}

.buttons button.del:active {
  background-color: #a80000;
}

.buttons button:nth-child(16) {
  grid-column: span 2;
  background-color: #003366;
}

.buttons button:nth-child(16):active {
  background-color: #004080;
}

.buttons button:nth-child(8){
  background-color: #ffa500;
}

.buttons button:nth-child(8):active{
  background-color: #ffb733;
}

.buttons button:nth-child(13) {
  grid-column: span 2;
}
